.correction-auth { display: grid; place-items: center; }
.auth-box { width: 600px; height: 350px; transform: none; }
.auth-box h1 { margin: 0 0 110px; height: 40px; text-align: center; font-size: 30px; font-weight: 500; color: var(--main4); }
.correction-verification { width: 100%; display: flex; flex-direction: column; align-items: center; }
.correction-verification .input-row { height: 40px; margin-bottom: 40px; gap: 20px; }
.correction-verification .login-input { width: 440px; min-width: 0; }
.correction-verification .side-button { width: 140px; flex-shrink: 0; }
.correction-verification .error-message { width: 100%; margin-top: -34px; margin-bottom: 34px; }
.correction-verification .next-button { width: 100%; height: 40px; }
.correction-verification .next-button img { object-fit: fill; }
@media (max-width: 760px) {
  .correction-auth { padding: 30px 20px 110px; }
  .auth-box { width: 100%; }
  .auth-box h1 { margin-bottom: 70px; }
  .correction-verification .input-row { gap: 10px; }
  .correction-verification .login-input { width: calc(100% - 125px); font-size: 15px; }
  .correction-verification .side-button { width: 115px; font-size: 14px; }
}
